.cat{
    background: white;

    //spacing
    padding: 1.5rem 1rem;
    margin: .5rem 0;

    //border
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;

    //offet for sticky header
    scroll-margin-top: 231px;

    h2{
        padding-bottom: 1rem;
    }
    
    ul{
        li{
            border-bottom: 1px solid lightgray;
        }
        li:first-child{
            border-top: 1px solid lightgray;
        }
        li:last-child{
            border-bottom: none;
        }
    }
}

.subSection{
    h3{
        font-weight: 900;
        padding: 1rem 0;
    }
}