@import "../../styles/buttons";

.topbar{
    padding: .5rem 1rem;
}

.nav_inner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.btn_icon{
    @include btn-icon;
    &:hover{
        background-color: rgba(0,0,0,.1);
    }
}