@import "../../styles/buttons";

.topbar{
    padding: .5rem 1rem;
}

.topbar_inner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.btn_icon{
    @include btn-icon;
    &:hover{
        background-color: rgba(0,0,0,.1);
    }
}

.logo{
    text-align: center;
    padding: 1rem 0 0 0;
    background: white;

    h1{
        text-transform: uppercase;
    }

    h2{
        font-size: .875rem;
    }

    @media screen and (min-width: 768px) {
        background: none;
        padding: 5%;

        h1{
            font-size: 3rem;
        }

        h2{
            font-size: 1rem;
        }
    }
}