@mixin btn-icon {
    // center icon
    display: flex;
    justify-content: center;
    align-items: center;

    //size
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;

    //reset button
    border: none;
    background: none;
}