html {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

main{
  position: relative;
}

body{
  margin: 0;
  
  background: #F7F7F7;
  font-family: 'Raleway', sans-serif;

  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/* fonts */
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

h1{
  font-size: 2rem;
}

:focus{
  /*TODO: add suble focus styles*/
  outline: none;
}

@media screen and (min-width: 768px){
  body{
    /* background: white; */
  }
}