.headerCtn{
    background: white;

    //border
    border-bottom: 1px solid #D1D1D1;

    //sticky
    position: sticky;
    top: 0;

    z-index: 100;
}

.logo{
    text-align: center;
    padding: 1rem 0;
}

.tagCtn{
    display: flex;

    overflow-x: scroll;

    padding: 0 .5rem;
    margin-right: .5rem;
}
