body{
    background: lightgray;
    font-family: 'Raleway', sans-serif;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

//fonts
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
