.headerCtn{
    background: white;
}

.logo{
    text-align: center;
    padding: 1rem 0;
}

.catCtn{
    display: flex;

    overflow-x: scroll;

    button:first-child{
        margin-left: 1rem !important;
    }

    button:last-child{
        margin-right: 1rem !important;
    }
}
